
.logoContainer {
    width: 100vw;
    display: flex;
    justify-content: center;
    .logo {
        position: relative;
        height: 30vh;
        width: 95vw;
    }
}
.buttons {
    width: 0%;
}